/* ## Archives
--------------------------------------------- */

.archive.genesis-author-pro .content {
	padding: 80px 80px 40px;
}

.archive.genesis-author-pro .content .entry {
	background-image: none;
	border-width: 0;
	box-shadow: none;
	float: left;
	margin: 0 0 40px 2.5641025641026%;
	padding: 15px;
	text-align: center;
	width: 31.623931623932%;
}

.archive.genesis-author-pro .content .entry:nth-of-type(3n+1) {
	clear: both;
	margin-left: 0;
}

.archive.genesis-author-pro .content .entry-header .entry-title {
	font-size: 20px;
	word-wrap: break-word;
}


/* ## Book Image
--------------------------------------------- */

.author-pro-featured-image,
.author-pro-featured-image img {
	display: block;
	margin: 0 auto 15px;
}


/* ## Single Book Layout
--------------------------------------------- */

.genesis-author-pro-book-description {
	clear: none;
	float: left;
}

.genesis-author-pro-book-details {
	float: right;
}


/* ## Book Details
--------------------------------------------- */

.book-by-line {
	margin-bottom: 10px;
}

.book-details {
	margin-bottom: 35px;
}

.book-featured-text-banner {
	display: block;
	text-align: center;
}

.book-price {
	border-bottom: 2px solid #eee;
	display: block;	
	font-size: 30px;
	margin: 0 0 26px;
	padding: 0 0 26px;
	text-align: center;
}

.book-details-meta .label {
	font-weight: 700;
}

.button-book {
	display: block;
	margin: 10px auto;	
	text-align: center;
	width: 100%;
}

.entry-content .book-details-meta,
.entry-content .book-details-meta li {
	list-style-type: none;
	margin-left: 0;
}


/* ## Media Queries
--------------------------------------------- */

@media only screen and (max-width: 780px) {

	.archive.genesis-author-pro .content .entry {
		width: 100%;
	}
	
	.genesis-author-pro-book-details,
	.genesis-author-pro-book-description {
		float: none;
	}

}